<!DOCTYPE html>
<html>

<head>
    <meta charset=”utf-8″>
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    <title>Kolom dalam Bootstrap</title>
    <link href="bootstrap.css" rel=”stylesheet”>
    <link href=”grid.css” rel=”stylesheet”>
</head>

<body>

    <div class=”container”>
        <h3>12 kolom sama:</h3>
        <div class=”row”>
            <div class=”col-md-1″>.col-md-1</div>
            <div class=”col-md-1″>.col-md-1</div>
            <div class=”col-md-1″>.col-md-1</div>
            <div class=”col-md-1″>.col-md-1</div>
            <div class=”col-md-1″>.col-md-1</div>
            <div class=”col-md-1″>.col-md-1</div>
            <div class=”col-md-1″>.col-md-1</div>
            <div class=”col-md-1″>.col-md-1</div>
            <div class=”col-md-1″>.col-md-1</div>
            <div class=”col-md-1″>.col-md-1</div>
            <div class=”col-md-1″>.col-md-1</div>
            <div class=”col-md-1″>.col-md-1</div>
        </div>

        <h3>6 kolom sama:</h3>
        <div class=”row”>
            <div class=”col-md-2″>.col-md-2</div>
            <div class=”col-md-2″>.col-md-2</div>
            <div class=”col-md-2″>.col-md-2</div>
            <div class=”col-md-2″>.col-md-2</div>
            <div class=”col-md-2″>.col-md-2</div>
            <div class=”col-md-2″>.col-md-2</div>
        </div>

        <h3>4 kolom sama:</h3>
        <div class=”row”>
            <div class=”col-md-3″>.col-md-3</div>
            <div class=”col-md-3″>.col-md-3</div>
            <div class=”col-md-3″>.col-md-3</div>
            <div class=”col-md-3″>.col-md-3</div>
        </div>

        <h3>3 kolom sama:</h3>
        <div class=”row”>
            <div class=”col-md-4″>.col-md-4</div>
            <div class=”col-md-4″>.col-md-4</div>
            <div class=”col-md-4″>.col-md-4</div>
        </div>

        <h3>2 kolom sama:</h3>
        <div class=”row”>
            <div class=”col-md-6″>.col-md-6</div>
            <div class=”col-md-6″>.col-md-6</div>
        </div>

        <h3>Campuran:</h3>
        <div class=”row”>
            <div class=”col-md-6″>.col-md-6</div>
            <div class=”col-md-3″>.col-md-3</div>
            <div class=”col-md-2″>.col-md-2</div>
            <div class=”col-md-1″>.col-md-1</div>
        </div>

    </div>
    <script src=”https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js”> </script> <script
        src=”js/bootstrap.min.js”> </script> </body> </html>